@use 'common';

.Header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    line-height: 7.9rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: common.$wColor;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);

    &.on .gnb {
        background: common.$bColor;
    }

    .gnb {
        position: relative;
        transition: 0.5s;


        ul {
            display: flex;
            gap: 40px;
            font-size: 1.5rem;


            li {
                position: relative;
            }

            .list {
                text-transform: uppercase;
                color: common.$wColor;
            }

            &.rt {
                gap: 20px;
                font-size: 2.5rem;
                color: common.$wColor;
                ;

                span {
                    position: absolute;
                    width: 2rem;
                    height: 2rem;
                    font-size: 1.25rem;
                    padding: 0.5rem;
                    top: 1.5rem;
                    right: -1rem;
                    background: common.$mainColor;
                    color: common.$subColor;
                    border-radius: 50%;
                    line-height: 0.8;
                    text-align: center;
                }
            }
        }
    }

    h1 {
        position: absolute;
        top: 0;
        left: 14rem;
        font-size: 0;

        img {
            height: 79px;
        }
    }

    .rt {
        position: absolute;
        top: 0;
        right: 8rem;

        .search {
            position: absolute;
            top: 0;
            left: -50rem;
            font-size: 1.3rem;

        }
    }


}